    body {
        background: #333333;
    }
    .text-line {
        background-color: transparent;
        color: #eeeeee;
        outline: none;
        outline-style: none;
        outline-offset: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid  2px;
        padding: 3px 10px;
    }